.footer {
 margin: 20px 0 30px 0;
 background-color: @white;
}
.footer-wrap {
display: flex;
flex-direction: column;
}
.footer-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.footer-icons-social {
  display: flex;
  gap: 20px;
 }
.footer-icons-social__link {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons-social__link--pinterest {
  fill: @grey;
  width: 22px;
  height: 22px;
  &:hover {
    fill: @primary;
  }
}
.footer-icons-social__link--vk,
.footer-icons-social__link--ok {
  fill: @grey;
  width: 20px;
  height: 20px;
  &:hover {
    fill: @primary;
  }
}
.footer-nav {
}
.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: @primary;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid @primary-light
}
.footer-nav__items {
}
.footer-nav__item {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 20px;
  transition: all 0.3s;
  a {
    color: @baseBlack;
    &:hover {
      color: @primary-lighter;
    }
  }
}
.footer-contacts {
}
.footer-address {
}
.footer-phone {
}
.footer-copyrights {
}
.footer-copyrights__link {
}
