/**
* ========================= [ Header styles ] ========================= */
.header {
  background-color: @white;

  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.navbar {
  background-color: @white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 10;
}

.logo__description {
  max-width: 126px;
  font-size: 12px;
  line-height: 1.33;
  margin-left: 20px;

  @media (max-width: @desktop-width) {
    display: none;
  }
}

/** ========================== [ Menu styles ] ========================== */
.menu {
  position: relative;
  display: flex;
  gap: 20px;

  @media (max-width: @desktop-width) {
    gap: 0;
  }
  /** .menu__item */
  &__item {
    display: flex;
    height: 100%;
    position: relative;

    &:active {
      background-color: @primary-light;
    }

    @media screen and (max-width: @mobile-width-only) {
      display: block;
      align-items: center;
      text-align: center;
      width: 100%;
      border-top: 1px solid @primary-light;
      padding: 20px 0;
    }

    &:last-child {
      @media screen and (max-width: @mobile-width-only) {
        border-bottom: 1px solid @primary-light;
      }
    }
  }

  /** .menu__item-link */
  &__item-link {
    display: block;
    margin: 32px 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: @baseBlack;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: 0.2s color;

    &:hover {
      color: @primary;
    }

    @media screen and (max-width: @mobile-width-only) {
      margin: 0;
    }
  }
  /** Mobile menu styles */
  @media screen and (max-width: @mobile-width-only) {
    position: absolute;
    background: @white;
    left: 0;
    top: 0;
    width: 100%;
    display: none;

    &.active {
      /** position: fixed; */
      display: flex;
      left: 0;
      top: 0;
      padding-top: 60px;
      width: 100%;
      flex-direction: column;
      pointer-events: all;
      justify-content: start;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}

.link-active::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: @primary;

  @media screen and (max-width: @mobile-width-only) {
    display: none;
  }
}

.menu-login {
  position: relative;
  display: flex;
  gap: 20px;

  @media (max-width: @desktop-width) {
    gap: 0;
    z-index: 20;
  }

  &__item {
    display: flex;
    position: relative;

    &:active {
      background-color: @primary-light;
    }
  }

  &__item-link {
    display: flex;
    margin: 22px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: @baseBlack;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    transition: 0.2s color;

    &:hover {
      color: @primary;
    }

    @media screen and (max-width: @mobile-width-only) {
      &:active {
        color: @baseBlack;
      }
    }

    @media (min-width: @tablet-width) {
      margin: 32px 22px;
    }
  }
}

.menu-login--icon {
  display: block;
  width: 16px;
  height: 16px;

  &:hover {
    stroke: @primary;
  }
}

.hide-text {
  margin-left: 8px;

  @media (max-width: @desktop-width) {
    display: none;
  }
}

/** ========================= [ Burger styles ] ========================= */
.burger {
  display: none;
  background: transparent;
  z-index: 3;

  @media screen and (max-width: @mobile-width-only) {
    display: flex;
    position: relative;
    min-height: 12px;
    width: 16px;

    &.active {
      &::before {
        background: @baseBlack;
        transform: rotate(45deg);
        transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.3s all;
        top: 5.5px;
      }

      &::after {
        background: @baseBlack;
        transform: rotate(-45deg);
        bottom: 5.5px;
        transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 1.5px;
      width: 100%;
      background: @baseBlack;
      transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.3s all;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 1.5px;
    }

    span {
      position: absolute;
      top: 4.5px;
      right: 0;
      width: 100%;
      background: @baseBlack;
      height: 1.5px;
      transform: scale(1);
      transition: cubic-bezier(0.79, 0.14, 0.15, 0.86) 0.3s all;
    }
  }
}
