/* здесь используйте глобальные селекторы img, body, html и так далее*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: @fontMain;
  box-sizing: border-box;
  color: @baseBlack;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: @baseBlack;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 1.52;
  }
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.78;
  color: @baseBlack;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 1.5;
  }
}

img {
  max-width: 100%;
  object-fit: contain;
}

.page__body {
  margin: 0;
}

.badge {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: @primary;
}

.container {
  padding: 0 20px;

  @media (min-width: @desktop-width) {
    padding: 0 40px;
  }
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    max-width: 768px;
  }

  @media (min-width: @desktop-width) {
    max-width: 1440px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
